@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  
    margin: 0 auto;
    font-family: "Nunito Sans", sans-serif;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

nav{
    background-color: hsl(209, 23%, 22%);
    padding: 0px 30px;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo{
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

.theme-btn{
    background-color: transparent;
    border: none;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-section {
    padding: 40px 30px;
    background-color: hsl(207, 26%, 17%);
    min-height: 100vh;
}

.filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
}

.input-section {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: hsl(209, 23%, 22%);
    padding: 10px 15px;
    width: 350px;
    border-radius: 5px;
    max-width: 100%;
}

.input-section input {
    width: 100%;
}
input::placeholder {
    color: hsla(0, 0%, 100%, 0.662);
}


.input-section i {
    color: hsl(0, 0%, 100%);
}

input:focus {
    color: hsl(0, 0%, 100%);
}

select {
    background-color: transparent;
    border: none;
    outline: none;
    color: hsl(0, 0%, 100%);
    padding: 13px 15px;
    margin-left: 10px;
    cursor: pointer;
    background-color: hsl(209, 23%, 22%);
    width: 170px;
    max-width: 100%;
}

select:focus {
    color: hsl(0, 0%, 92%);
}

option {
    padding: 0.5rem;
    background-color: hsl(209, 23%, 22%);
    color: #fff;
}

.countries-container .container{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 40px;
}

@media (max-width: 1124px) {
    .countries-container .container {
        grid-template-columns: repeat(3 , 1fr);
    }
}

@media (max-width: 868px) {
    .countries-container .container {
        grid-template-columns: repeat(2 , 1fr);
    }
}

@media (max-width: 525px) {
    .countries-container .container {
        grid-template-columns: repeat(1 , 1fr);
    }
}

.country {
    border-radius: 2px;
    overflow: hidden;
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
    padding: 15px;
    transition: transform 0.3s ease;
}

.country:hover {
    transform: scale(1.05);
}

.country img {
    width: 100%;
    max-width: 450px;
    height: 180px;
    border-bottom: 2px solid hsl(209, 23%, 22%);
}

.country-info {
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.country-info h2 {
    margin-bottom: 5px;
    font-weight: 600;
    color: #fff;
    font-size: 1.2rem;
}

.country-info ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.8);
    font-weight: 300;
    font-size: 0.9rem;
}

